public/navbar.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <nav id="navbar">
        <ul id="navlist">
            <li class="navitem"><a href="#">Lien 1</a></li>
            <li class="navitem"><a href="#">Lien 2</a></li>
            <li class="navitem"><a href="#">Lien 3</a></li>
            <li class="navitem"><a href="#">Lien 4</a></li>
        </ul>
    </nav>
</body>

</html>

views/navbar.pug
extends index.pug

block navbar
    nav#navbar
        ul#navlist
            li.navitem
                a(href="#") Lien 1
            li.navitem
                a(href="#") Lien 2
            li.navitem
                a(href="#") Lien 3
            li.navitem
                a(href="#") Lien 4
